{% extends 'base.html' %}







{% block content %}

    {% comment %}
{% if user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=#">
{% else %}
    <meta http-equiv="REFRESH" content="0;url=signup">
{% endif %}
{% endcomment %}
    <div class="que_window">

        <div class="que_heading bg-primary">
            <h2>Question Details</h2>
        </div>
        <div class="que_detail">
            <h4 class="text-center text-"><u>{{ object.title }}</u></h4>

            <h4> Description:</h4>
            <p>{{ object.question|safe }}</p>
            <h4> Script:</h4>
            <a href="{{ object.script.url }}">{{ object.script }}</a>
        </div>
    </div>

{% endblock %}