{% extends 'base.html' %}

{% block content %}

    {% comment %}
{% if user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=#">
{% else %}
    <meta http-equiv="REFRESH" content="0;url=signup">

{% endif %}
{% endcomment %}
    {% comment %}qid=q_id{% endcomment %}
    <meta http-equiv="REFRESH" content="0;url={% url 'student:student_test_question' tid=t_id %}">
    <div class="container">
        <div class="loading">

            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

{% endblock %}