{% extends 'base.html' %}

{% block content %}

{% comment %}
{% if user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=#">
{% else %}
    <meta http-equiv="REFRESH" content="0;url=signup">
{% endif %}
{% endcomment %}
<div>

    <div class="form_heading">
          <h2>Welcome, {{ user.username }}</h2>
    </div>
    <div class="signupinfo">
      <p class="lead">Please select</p>
      <a href="{% url 'student:student_test_id_input' %}" class="btn btn-success btn-lg ml-5" role="button">Give Test</a>
      <a href="{% url 'student:student_taken_test_list' %}" class="btn btn-secondary btn-lg ml-5" role="button">View Results</a>

    </div>
</div>

{% endblock %}